<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Controllers">
            <directory>tests/SimFWKLib/Controllers</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>tests/SimFWKLib/Core</directory>
        </testsuite>
        <testsuite name="Factory">
            <directory>tests/SimFWKLib/Factory</directory>
        </testsuite>
        <testsuite name="File">
            <directory>tests/SimFWKLib/File</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>tests/SimFWKLib/Http</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory>tests/SimFWKLib/Utils</directory>
        </testsuite>
        <testsuite name="Views">
            <directory>tests/SimFWKLib/Views</directory>
        </testsuite>
        <testsuite name="Wrappers">
            <directory>tests/SimFWKLib/Wrappers</directory>
        </testsuite>
    </testsuites>
</phpunit>
