<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Dao">
            <directory>tests/SimFWKLib/Dao</directory>
        </testsuite>
        <testsuite name="Models">
            <directory>tests/SimFWKLib/Models</directory>
        </testsuite>
        <testsuite name="Modules">
            <directory>tests/SimFWKLib/Modules</directory>
        </testsuite>
        <testsuite name="Services">
            <directory>tests/SimFWKLib/Services</directory>
        </testsuite>
    </testsuites>
</phpunit>
